<app-header />

<main>
  <!-- <p> NEW Style LOOP</p> -->

  <ul id="users">

    <app-user-list (selectedUserId)="onUserSelected($event)" />



  </ul>

  @if(selectedUserId){
  <app-user-task [userId]="selectedUserId" />
  }


  <!-- <p>OLD Style LOOP</p> -->
  <!-- <ul id="users">
        <li *ngFor="let userOld of users">
            <app-users (select)="onSelectingUser($event)" [user]="userOld" />
        </li>
    </ul>


    <app-user-tasks *ngIf="CalculateName; else fallBack" [name]="CalculateName.name" />
    <ng-template #fallBack></ng-template> -->
</main>
<router-outlet />